<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coffee Taster</title>
  </head>
  <body>
    <div class="header">
      header...
      <a href="/">Coffee Taster</a>
    </div>
    <% if (errors && errors.length > 0) {%>
      <% errors.forEach((error)=> { %>
        <div class="flashError">
          <strong><%=error%></strong>
        </div>
      <% }); %>
    <%}%>
    <% if (success && success.length > 0) {%>
      <% success.forEach((message)=> { %>
        <div class="flashSuccess">
          <strong><%=message%></strong>
        </div>
      <% }); %>
    <%}%>
    <div class="nav">
      <% if (currentUser) {%>
        <p>hello <a href="/user/<%=currentUser.username%>"><%=currentUser.username%></a></p>
        <a href="/logout">logout</a>
      <%} else {%>
        <a href="/register">register</a>
        <a href="/login">login</a>
      <%}%>
    </div>
