<%-include("./partials/header")%>
<div class="container">
 <h1>Login</h1>

 <form class="" action="/login" method="post">
   <input type="text" name="username" value="" placeholder="username" required>
   <input type="password" name="password" value="" placeholder="password" minlength="8" required>
   <button>Register</button>
 </form>
</div>
<%-include("./partials/footer")%>
