<%-include("./partials/header")%>
 <div class="container">
  <h1>Register</h1>

  <form class="" action="/register" method="post">
    <input type="text" name="username" value="" placeholder="username" required>
    <input type="text" name="email" value="" placeholder="email" required>
    <input type="password" name="password" value="" placeholder="password" minlength="8" required>
    <button>Register</button>
  </form>
 </div>
<%-include("./partials/footer")%>
